.Home{
    display: flex;
    flex-direction: row;
    background-color: rgba(128, 128, 128, 0.151);
}
.Cview{
    width: 100%;
}
.candleUnit{
  padding-left: 50px;  
}
.hogameme{
  display: flex;
  flex-direction: row;
}
.chart{
  padding-left: 65px;
}